<?xml version="1.0"?>
<!--
/**
 * @package Bliss_Navigation
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bliss_navigation>
            <general>
                <enabled>1</enabled>
            </general>
        </bliss_navigation>
    </default>
</config>
